---
import Details from '../../Layouts/details.astro'
import { getComicDetails } from '../../data/get-comic-details'
import ComicDetails from '../../components/comic-details.astro'
import { getNewComicBookDay } from '../../data/get-new-comic-book-day'

const { currentWeek } = getNewComicBookDay()

const { id } = Astro.params
const comicDetails = await getComicDetails(id as string)
---

<Details week={comicDetails.store_date}>
  <main class="mx-auto max-w-7xl px-4 py-8 sm:px-6 lg:px-8">
    <div>
      <ComicDetails comic={comicDetails} />
      <div class="mt-6 text-center">
        <a
          href={`/${comicDetails.store_date}`}
          class="inline-block rounded-md bg-sky-700 px-4 py-2 text-white transition-colors hover:bg-sky-800"
        >
          Back to Comics List
        </a>
      </div>
    </div>
  </main>
</Details>
