---
import Head from '../components/head-meta.astro'
import Body from '../components/body.astro'
import { getNewComicBookDay } from '../data/get-new-comic-book-day'

const { week } = Astro.props
---

<html lang="en">
  <Head />
  <Body {week}>
    <div class="bg-slate-900">
      <slot />
    </div>
  </Body>
</html>
